*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-color: rgb(255, 0, 0);
}

.app {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: Lato, sans-serif;
}

.contitulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}